#map{
  height:450px;
  width: 100%;
}
#header{
  font-size: 64px;
  color: black;
  margin-bottom: 50px;
  text-align: center;

}

body{
  background-image: url("https://www.barrierreef.org/generated/picture-large/layer-9-jpg.jpg?1468214103");
  background-repeat: no-repeat;
}
